@font-face {
    font-family: "Assistant";
    src: url("../Assets/Assistant-VariableFont_wght.ttf");
}

/* || root variable */
:root {
    --orange: #f86f03;
    --yellow: #ffa41b;
    --white: #fff6f4;
    --blue: #525fe1;
    --btn-size: 8vh;
    --git-btn-size: 8vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Assistant";
    text-decoration: none;
    cursor: default;
    list-style: none;
    color: var(--white);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./blob-scene-16-9.png");
    transition: background-image 0.5s ease-in-out;
    overflow: hidden;
}
.logout-btn {
    margin-top: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    display: flex;
}
.todo-list {
    width: 100vw;
    height: 100vh;
    background: rgba(122, 122, 122, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    background-clip: padding-box;
    backdrop-filter: blur(1px);
}

.todo-list .profil-header {
    height: 30px;
    margin: 10px;
}

/* || PROFIL SIDE */

.profil-side {
    display: block;
    z-index: 1;
    top: 0px;
    left: 0px;
    min-width: 225px;
    background: rgba(124, 124, 124, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#profil-list {
    display: none;
}

.profil {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-clip: padding-box;
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    transition: 0.5s ease;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
}

.profil .user {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.profil #user-picture {
    margin: 10px;
}

.profil #user-name ul li {
    margin: 5px;
    font-size: 14px;
}
.profil .user-info {
    width: 97%;
    font-size: 14px;
    flex-direction: column;
    align-items: baseline;
    display: flex;
    overflow: hidden;
    position: relative;
}

#search-todo::placeholder,
#todo-form input::placeholder {
    font-size: 15px;
    color: var(--white);
}

#search-todo:focus,
#todo-form input:focus {
    border-bottom: 2px solid rgba(255, 164, 27, 1);
    outline: none;
}

#search-todo:focus::placeholder,
#todo-form input:focus::placeholder {
    color: var(--yellow);
}
#search-todo {
    width: 90%;
    padding-left: 5px;
    margin-left: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(124, 124, 124, 0.3);
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
}

#status {
    font-size: 16px;
    margin-top: 15px;
}

#status-icon {
    margin-right: 10px;
}

#btn-logout {
    height: 80%;
    font-size: calc(var(--btn-size) - 3vh);
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.2);
    transition: 0.5s ease;
}

#btn-logout:hover {
    margin-top: 3px;
    margin-right: 3px;
    box-shadow: inset 7px 7px 13px rgba(255, 160, 52, 1),
        inset -7px -7px 13px rgba(255, 166, 65, 0.5);
}

#span-logout {
    margin-left: 5px;
}

#user-picture {
    margin-top: 25px;
    background-size: auto;
    font-size: 70px;
}

#submit {
    background-color: rgba(255, 246, 244, 0.3);
    border: solid 1px rgba(255, 255, 255, 1);
    border-radius: 50%;
    transition: 0.5s ease;
}

.todo-group {
    margin-top: 10px;
    height: 70vh;
    width: 100%;
}

#one-group {
    margin-top: 2px;
    height: 35px;
    width: 100%;
    font-size: 16px;
}

#one-group span {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#separation {
    height: 1px;
    width: 97%;
    background-color: rgba(255, 164, 27, 0.2);
}
#one-group:hover {
    background-color: rgba(124, 124, 124, 0.3);
    border-radius: 5px;
}

.logout-btn {
    margin-left: 5px;
    justify-content: start;
    align-items: flex-start;
}

.done-div-container,
.todo-div-container {
    background: rgba(124, 124, 124, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.todo {
    height: 100%;
    width: 100%;
    gap: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-pos {
    width: 95%;
}

.todo-div-container,
.done-div-container {
    overflow-y: auto;
    overflow-block: auto;
    width: 95%;
    height: 35%;
}

#container-form {
    width: 95%;
    height: 40px;
    margin: 5px;
}

#todo-form {
    margin: 5px;
    width: 100%;
    display: flex;
}

#todo-form input {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(124, 124, 124, 0.7);
    width: 42%;
    padding-left: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
    transition: 0.5s ease;
}

#todo-form input:focus {
    background-color: rgba(124, 124, 124, 0.3);
}
#todo-form input:hover {
    background-color: rgba(124, 124, 124, 0.3);
}

#todo-form #submit {
    margin-left: 20px;
    justify-content: center;
    align-items: end;
}

#submit ion-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#submit {
    background-color: rgba(124, 124, 124, 0.7);
    transition: 0.5s ease;
}

#submit:hover {
    background-color: rgba(124, 124, 124, 0.4);
}

.done,
.delete-todo {
    height: 20px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}

.todo-btn {
    display: flex;
    justify-content: end;
}

.done {
    background-color: rgba(119, 255, 0, 0.6);
}

.delete-todo {
    background-color: rgba(253, 5, 5, 0.6);
}

.done:hover {
    background-color: rgba(119, 255, 0, 0.9);
}

.delete-todo:hover {
    background-color: rgba(253, 5, 5, 0.9);
}

.todo-title,
.todo-task,
.todo-date {
    max-width: 30%;
}

#list-todo li,
#done li {
    margin: 7px;
    width: 97%;
    background-color: rgba(124, 124, 124, 0.6);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

#list-todo li:hover,
#done li:hover {
    transition: 0.2s ease;
    background-color: rgba(124, 124, 124, 0.3);
    border-bottom: 1px solid rgba(220, 220, 220, 1);
}

#list-todo li {
    display: flex;
    align-items: center;
    margin: 9px;
}

#list-todo li span {
    margin-left: 3px;
}

/* Style de la div */
.done-div-container,
.todo-div-container {
    overflow-y: hidden; /* Masque la barre de défilement par défaut */
    position: relative; /* Permet d'ajuster le style du défilement */
}

.done-div-container:hover,
.todo-div-container:hover {
    overflow-y: auto; /* Affiche la barre de défilement lors du survol */
}

/* Style de la barre de défilement pendant le défilement */
.todo-div-container::-webkit-scrollbar,
.done-div-container::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
}

.todo-div-container::-webkit-scrollbar-thumb,
.done-div-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(
        220,
        220,
        220,
        0.5
    ); /* Couleur de la poignée de défilement */
}

.todo-div-container::-webkit-scrollbar-thumb:hover,
.done-div-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(
        220,
        220,
        220,
        1
    ); /* Couleur de la poignée de défilement au survol */
}

.todo-title {
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

.todo-task {
    height: 100%;
}

@media all and (max-width: 700px) {
    body {
        background-image: url("./blob-scene-9-16.png");
        flex-direction: row;
    }

    .profil-side {
        display: none;
        position: absolute;
        height: 100vh;
        transition: 1s ease;
    }

    .user-info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    #profil-list {
        display: block;
        font-size: 26px;
        padding: 5px;
        margin: 5px;
        background-color: transparent;
        border: transparent;
    }

    #info {
        margin: 10px;
    }

    #user-picture {
        font-size: 50px;
    }

    #btn-logout {
        height: 75%;
    }
}

@media all and (max-width: 400px) {
    #user-picture {
        font-size: 30px;
    }
    #info {
        margin: 7px;
    }

    .todo-title,
    .todo-task,
    .todo-date {
        font-size: 9px;
    }

    .user {
        width: 25%;
    }

    .user-info {
        font-size: 16px;
    }

    #btn-logout {
        height: 70%;
        margin: 3px;
        font-size: calc(var(--btn-size) - 4vh);
    }

    #container-form {
        width: 95%;
        height: 70px;
        margin: 5px;
    }
}
