@font-face {
    font-family: "Assistant";
    src: url("./Assistant-VariableFont_wght.ttf");
}

:root {
    --orange: #F86F03;
    --yellow: #FFA41B;
    --white: #FFF6F4;
    --blue: #525FE1;
    --btn-size: 8vh;
    --git-btn-size: 8vh;
}

* {
	font-family: 'Assistant';
    text-decoration: none;
    cursor: default;
    list-style: none;
    color: var(--white);
}

body {
	margin: 0;
	padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./blob-scene-16-9.png");
    transition: background-image 0.5s ease-in-out;
    overflow: hidden;
}


.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 100vw;
    height: 10vh;
}

.section-logo {
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-logo {
    animation: scaleAnimation 5s ease-in-out infinite alternate;
}

/* || Glassmorphism Box */
.home-logo, .git-btn, #sign-in, #sign-up, .register-btn, .login-btn{
    background: rgba( 255, 255, 255, 0.2 );
    border: solid 1px rgba(255,255,255,.3);
    background-clip: padding-box;
    backdrop-filter: blur(10px );
    text-transform: uppercase;
    transition: 0.5s ease;
}

/* || Project github link */
.git-btn, .register-btn, .login-btn{
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--git-btn-size);
    height: var(--git-btn-size);
    border-radius: 50%;
}

.home-logo:hover, .git-btn:hover, #sign-in:hover, #sign-up:hover, .register-btn:hover, .login-btn:hover{
    -webkit-box-shadow:0px 0px 30px 5px rgba(255, 246, 244, 0.4);
    -moz-box-shadow: 0px 0px 30px 5px rgba(255, 246, 244, 0.4);
    box-shadow: 0px 0px 30px 5px rgba(255, 246, 244, 0.4);
    border: solid 1px rgba(255, 255, 255, 1);
    transition: 0.5s ease;
}
.home-logo:hover {
    padding: 5px;
}


.git-btn:hover, .register-btn:hover, .login-btn:hover {
    width: calc(var(--git-btn-size) + 1vh);
    height: calc(var(--git-btn-size) + 1vh);
}

#git-icon, #btn-register, #btn-login{
    margin-top: 15%;
    font-size: calc(var(--btn-size) - 3vh);
    animation: scaleAnimation 2s ease-in-out infinite alternate;
}
/* || Home box with title and logo*/
.home-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

#logo-title {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 42px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#logo {
    font-size: 100px;
}
/* || Box with Sign up and Sign in Button*/
.form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 350px;
    width: 100vw;
}

#sign-in, #sign-up {
    width: 240px;
    height: 70px;
    border-radius: 12px;
    padding: 5px;
    font-size: 38px;
    text-shadow: 2px 2px 4px var(--yellow);
    color: var(--white)
}

#sign-in:hover, #sign-up:hover {
    width: 242px;
    height: 72px;
    font-size: 40px;
}

#sign-up {
    animation: signupAnimation 7s ease-out infinite alternate;
}

#sign-in {
    animation: signinAnimation 7s ease-out infinite alternate;
}

@keyframes signupAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    34% {
        transform: translateX(-7px);
    }
    67% {
        transform: translateX(7px);
    }
}

@keyframes signinAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(7px);
    }
    75% {
        transform: translateX(-7px);
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media all and (max-width: 740px) {
    body {
        background-image: url("./blob-scene-9-16.png");
    }

    .git-btn, .register-btn, .login-btn{
        width: calc(var(--git-btn-size) - 2vh);
        height: calc(var(--git-btn-size) - 2vh);
    }
    #git-icon, #btn-register, #btn-login{
        font-size: calc(var(--btn-size) - 4vh);
    }

    #logo-title {
        font-size: calc(100vh * 0.04);
    }
    
    #logo {
        font-size: calc(100vh * 0.06);   
    }

    .home-logo {
        width: 55%;
        height: 110px;
        border-radius: 22px;
    }

    .git-btn:hover, .register-btn:hover, .login-btn:hover {
        width: calc(var(--git-btn-size) - 1vh);
        height: calc(var(--git-btn-size) - 1vh);
    }
    
    .form-btn {
        height: 150px;
    }
}