@font-face {
    font-family: "Assistant";
    src: url("../Assets/Assistant-VariableFont_wght.ttf");
}

:root {
    --orange: #F86F03;
    --yellow: #FFA41B;
    --white: #FFF6F4;
    --blue: #525FE1;
    --btn-size: 8vh;
    --git-btn-size: 8vh;
}

* {
	font-family: 'Assistant';
    text-decoration: none;
    cursor: default;
    list-style: none;
    color: var(--white);
}

body {
	margin: 0;
	padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./blob-scene-16-9.png");
    transition: background-image 0.5s ease-in-out;
    overflow: hidden;
}


.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 10vh;
}

.section-logo {
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    transform: translate(0, 0);
}

/* || Glassmorphism Box */
.home-logo, .git-btn, #sign-in, #sign-up {
    background: rgba( 255, 255, 255, 0.2 );
    border: solid 1px rgba(255,255,255,.3);
    background-clip: padding-box;
    backdrop-filter: blur(10px );
    text-transform: uppercase;
    transition: 0.5s ease;
}

/* || Project github link */
.git-btn {
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--git-btn-size);
    height: var(--git-btn-size);
    position: absolute;
    border-radius: 50%;
}

.home-logo:hover, .git-btn:hover, #sign-in:hover, #sign-up:hover{
    -webkit-box-shadow:0px 0px 30px 5px rgba(255, 246, 244, 0.4);
    -moz-box-shadow: 0px 0px 30px 5px rgba(255, 246, 244, 0.4);
    box-shadow: 0px 0px 30px 5px rgba(255, 246, 244, 0.4);
    border: solid 1px rgba(255, 255, 255, 1);
    transform: translate(0, 0);
}

.git-btn:hover {
    width: calc(var(--git-btn-size) + 1vh);
    height: calc(var(--git-btn-size) + 1vh);
}

#git-icon{
    margin-top: 15%;
    font-size: calc(var(--btn-size) - 2vh);
}
/* || Home box with title and logo*/
.home-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

#logo-title {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 42px;
}

#logo {
    font-size: 100px;   
}

.home-logo:hover #logo{
    font-size: 120px;
}

/* || Box with Sign up and Sign in Button*/
.form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 350px;
    width: 100vw;
}

#sign-in, #sign-up {
    width: 240px;
    height: 70px;
    border-radius: 12px;
    padding: 5px;
    font-size: 38px;
    text-shadow: 2px 2px 4px var(--yellow);
}

#sign-in:hover, #sign-up:hover {
    width: 242px;
    height: 72px;
    font-size: 40px;
}




@media all and (max-width: 500px) {
    body {
        background-image: url("./blob-scene-9-16.png");
    }

    .git-btn {
        width: calc(var(--git-btn-size) - 2vh);
        height: calc(var(--git-btn-size) - 2vh);
    }
    #git-icon {
        font-size: calc(var(--btn-size) - 3vh);
    }

    #logo-title {
        font-size: calc(100vh * 0.03);
    }
    
    #logo {
        font-size: calc(100vh * 0.06);   
    }

    .home-logo {
        width: 55%;
        height: 210px;
        border-radius: 22px;
    }
    
}